html,body {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.float {
  position: fixed;
  margin: 10px;
  padding: 14px;
  box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  background-color: white;
  z-index: 10;
}

.fliter {
  height: 40px;
  border-bottom: solid 2px rgba(255, 0, 0, 0.5);
}

.list-view {
  max-height: 400px;
  overflow-y: scroll;
}

.options {
  float: left;
  text-align: center;
  width: 32%;
  position: relative;
  padding: 6px 0;
  border: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 0, 0, 0.1);
  font-size: 12px;
}

.list-item-title {
  padding-top: 10px;
  margin: 0px;
  font-weight: bold;
  cursor: default;
}

.list-item-title:hover {
  text-decoration: underline;
}

.list-item-title:active {
  text-decoration: underline;
  color: rgba(255, 0, 0, 0.5);
}

.list-item-description {
  margin-top: 4px;
  margin-bottom: 0px;
  padding-bottom: 10px;
  font-size: 14px;
  border-bottom: solid 1px rgba(0, 0, 0, 0.1);
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.title {
  margin-top: 0px;
  margin-bottom: 16px;
}

#map {
  background-color: rgba(255, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  z-index: 1;
  padding: 0;
  margin: 0;
}

#pano {
<<<<<<< HEAD
  width: 500px;
  height: 270px;
}

@media (max-width: 375px) {
  .float {
    box-sizing: border-box;
    margin: 0;
    padding: 16px;
    width: 100%;
  }
  .title {
    margin-bottom: 0;
  }
  .fliter {
    display: none;
  }
  .list-view {
    display: none;
  }
}
=======
  width: 100%;
  height: 60%;
}
.pop-window-bg {
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  z-index: 15;
}

.pop-window {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 10%;
  left: 15%;
  margin: 0 auto;
  padding: 16px;
  width: 70%;
  height: 70%;
  overflow-y: scroll;
  z-index: 20;
}

.close {
  cursor: default;
  position: absolute;
  right: 16px;
  top: 16px;
}

.close:hover {
  text-decoration: underline;
  color: blue;
}
>>>>>>> refs/remotes/origin/master
